@import "tailwindcss";

:root {
    --background: #f5f7f8;
    --foreground: #1a2b33;
    --text-muted: #4d6672;
    --primary-brand: #1b4f63;
    --secondary-brand: #f07c20;
    --outline-primary: #fde8d3;
    --outline-secondary: #236480;
    --section-accent: #d0eaf2;
    --card-panel: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-text-muted: var(--text-muted);
    --color-primary-brand: var(--primary-brand);
    --color-secondary-brand: var(--secondary-brand);
    --color-outline-primary: var(--outline-primary);
    --color-outline-secondary: var(--outline-secondary);
    --color-section-accent: var(--section-accent);
    --color-card-panel: var(--card-panel);
    --font-sans: var(--font-sans);
    --font-display: var(--font-display);
    --background-image-topografi: url("/background.png");
    --blur-mega: 53px;
}

@utility glass {
    /* 1. Efek Blur dan Base Gradient */
    @apply backdrop-blur-lg bg-gradient-to-br from-white/15 to-white/5;

    /* 2. Garis Tepi Kaca */
    @apply border border-outline-primary;

    /* 3. Efek Refraction (Inner Shadow Putih) + Drop Shadow Hitam di luar */
    @apply shadow-[inset_1px_1px_2px_rgba(255,255,255,0.4)] shadow-black/10;
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-sans);
}

h1,
body {
    font-weight: 400;
}

h2 {
    font-weight: 500;
}

h3,
h4,
h5 {
    font-weight: 600;
}
